<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center;height: 50px;">
 <img src="{{title}}" alt="" style="height: 50px;">
</div>

<video poster="" id="bgvid" playsinline autoplay muted loop>
    <!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
  <source src="assets/video/videoplaybac.mp4" type="video/webm">
  <source src="assets/video/videoplaybac.mp4" type="video/mp4">
</video>

<router-outlet></router-outlet>
