.head_title {
    height: 50px;
    width: 150px;
    text-align: center;
    margin: 0 auto;
}
img {
    height: 100px;
    width: 100px;
    display: block;
    margin: 0 auto; 
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.images img:hover {
    -webkit-transform: scale(1.3);
	transform: scale(1.3);
}
.main_team_block {
       
    }

.team_one img {
    height: 150px;
    width: 150px;
}

.team_two img {
    height: 150px;
    width: 150px;
}