<div class="container"> 
  <div class="container ui right aligned">
    <div class="ui search">
      <div class="ui icon input">
        <input #search class="prompt" type="text" placeholder="..." (ngModel)="asd">
        <i class="search icon"></i>
      </div>
      <div class="results" style="margin-left: 900px;"></div>
    </div>
  </div>
  <div class="container ui grid segment main_team_block" *ngIf="IsVisible">
      <div class="ui four wide column" *ngFor="let team of teams">
          <div class="four wide column">
            <div class="head_title">
              <h4>{{ team.title }}</h4>
            </div>
            <div class="images">
              <img src="{{ team.img }}" alt="{{team.title}}">
            </div>
            <div class="container ui center aligned button_block">
              <div>
                <i class="ban icon" (click)="DeleteTeam(team)"></i>
              </div>
            </div>  
          </div>
      </div>
  </div>

  <div class="container ui grid segment main_team_block" *ngIf="!IsVisible">
          <div class="eight wide column ui center aligned">
              <h4> {{team1.title}}</h4>
              <div class="images">
                  <img src="{{ team1.img }}" alt="{{ team1.title }}">
                </div>    
          </div>
          <div class="eight wide column ui center aligned">
              <h4> {{team2.title}}</h4>
              <div class="images">
                  <img src="{{ team2.img }}" alt="{{ team2.title }}">
                </div>    
          </div>

  </div>

  <div class="container ui right aligned" >  
    <button class="negative ui button right aligned " (click)="Close()" *ngIf="!IsVisible">Close</button>          
    <button class="positive ui button right aligned " (click)="RandomTeam(teams)"  *ngIf="IsVisible">Random</button>
    <button class="blue ui button right aligned " (click)="Reset()">Reset </button>
  </div>   

  



</div>

